html, body{
	height: 100%;
	margin: 0px;
	padding: 0px;
	color: #fff9e2;
	font: "Book Antiqua" serif;
}

.wrapper{
	background: url("../images/background.jpg") center no-repeat;
	background-attachment: fixed;
	background-size: cover; 
	position: relative;
	width: 100%;
	height: 100%;
}

.wrapper-inner{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 400px;
    height: 300px;
    text-align: center;
}

#logo{
	border-radius: 50%;
	width: 150px;
	height: 150px;
}

.greetings{
	font-style: italic;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

.social-links{
	font-size: 2rem;
}


li{
	display: inline !important;
}

a:hover { 
    color: yellow;
}

ul.social-icons{
	padding: 0;
}

.email-link-outer{
	display: block !important;
	margin-top: 1rem;
}
